.letters{
	.row{
		flex-wrap: wrap;
		align-items: flex-start;
		row-gap: 80px;
		column-gap: 20px;
	}
	h3{
		font-weight: 500;
		margin: 20px 0 30px 0;
	}
	.btn{
		padding: 7px 15px;
		width: 180px;
	}
	.letters__item{
		max-width: 360px;
		width: 100%;
		img{
			width: 100%;
		}
	}
}

@media all and (max-width: 768px) {
	.letters{
		h2{
			text-align: center;
		}
		.row{
			justify-content: center;
		}
	}
}