.additional__books{
	.swiper{
		width: 300px !important;
	}
	.swiper-slide{
		width: 300px !important;
		height: 400px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	img{
		width: 180px;
		display: block;
		margin: 0 auto;
	}
	h3{
		text-align: center;
		font-weight: 500;
	}
	.btn{
		padding: 7px 15px;
		color: white !important;
		width: 180px;
		margin: 0 auto;
	}
	.swiper-pagination{
		position: static !important;
		margin-top: 15px;
	}
	.swiper-pagination-bullet-active{
		background: rgb(0, 189, 54);
	}
}